# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/
.conda/

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
*.code-workspace

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Local configs
*.env
